

<div class="row justify-content-center align-items-center m-0 pl-2 pr-2">
  <div class="container justify-content-center align-items-cente">


    <!-- <mat-card class="mat-elevation-z8 mywith"> -->
      <router-outlet></router-outlet>
    <!-- </mat-card> -->
  </div>
</div>


<!-- <mat-sidenav-container>
  <mat-sidenav-content class="row justify-content-center align-items-center m-0 pl-2 pr-2">
    <div class="container justify-content-center align-items-cente" style="height: 100vh; width: 100vw;">


      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->





