**/e2e
**/.vscode
**/node_modules
**/dist
**/test
**/*.zip
# **/*.xlsx


**/fotos

**/generated_app
# **/didh
**/old
# **/excel
**/database-scripte
**/generate-i18n/base-files
**/generate-i18n/generated

**/clubs.json