<div class="d-flex flex-column align-items-center justify-content-center">
    <h3 style="color: gray; margin: 5px;">{{title}}</h3>
    <div style="display: block;" [style.width] = "withGraphe" >
      <canvas class="chart chart-pie"   baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
        [options]="chartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend"
        (chartClick)="chartClicked($event)">
      </canvas>

    </div>
  </div>
